# ~/.config/gromit-mpx.cfg

# Default gromit-mpx configuration 
# taken from  Totem's telestrator mode config
# added default entries

# Uncomment to set Hot key and/or Undo key to a custom value. Note that you can only specify single keysyms, not key combos.
# HOTKEY = "F9";
# UNDOKEY = "F8";

"red Pen" = PEN (size=5 color="red");				
"blue Pen" = "red Pen" (color="blue");				
"yellow Pen" = "red Pen" (color="yellow");			
"green Marker" = PEN (size=6 color="green" arrowsize=1);		
									
"Eraser" = ERASER (size = 75);					
									
# The decision which tool to use follows a simple policy:

# 1. Buttons are more important than Modifiers
# 2. High number Buttons are more important than lower ones
# 3. Modifiers: SHIFT > CONTROL > ALT/META.
# 4. Gromit-MPX tries partial matches: If you define "Core Pointer"[] and "Core Pointer"[SHIFT, CONTROL] and only SHIFT actually is pressed, Gromit-MPX will use the second definition if there is no "Core Pointer"[SHIFT] definition. The same logic holds for the buttons.
# 5. Slave device config takes precedence over master device config, which in turn takes precedence over the fallback default config.

"default" = "red Pen";						
"default"[SHIFT] = "blue Pen";					
"default"[CONTROL] = "yellow Pen";				
"default"[2] = "green Marker";					
"default"[Button3] = "Eraser";					

