#!/usr/bin/env xdg-open

# Global installation
# /usr/share/applications/name.desktop
# Local installation
# ~/.local/share/applications/name.desktop

# Specs should follow:
# https://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html

# Icons in /usr/share/icons
[Desktop Entry]
Version=1.0
Name=Stretchly
GenericName=Stretchly break reminder
Comment=Remember to take regular breaks
Exec=stretchly
Terminal=false
Type=Application
Icon=slideshow-symbolic.svg
Type=Application
Categories=Application
